.container {
  font-family: "Ubuntu", sans-serif;
}

.weather-app {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 20px;
  background: #c2e2f5;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

footer {
  text-align: center;
  font-size: smaller;
}

.title {
  text-align: center;
  font-family: "Jomhuria", cursive;
  font-size: 60px;
}
